body {
  margin: 2rem;
}
.wapper {
  width: 700px;
  height: 500px;
}

/*#image-compare-container {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
}
#image-compare-container > img {
  width: 100%;
  position: absolute;
  top: 0; height: 100%;
}
#image-clipper {
  width: 50%; position: absolute;
  top: 0; bottom: 0;
  overflow: hidden;
}
#image-clipper > img {
  position: absolute;
  top: 0; bottom: 0;
  height: 100%;*/

.image-compare-container {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
}
.image-compare-container > img {
  width: 100%;
  position: absolute;
  top: 0; height: 100%;
}
.image-clipper {
  width: 50%; position: absolute;
  top: 0; bottom: 0;
  overflow: hidden;
}
.image-clipper > img {
  position: absolute;
  top: 0; bottom: 0;
  height: 100%;

}

/*.enhanced-ux .js-unsupported {
    display: block;
}
.photoslider__border {
    transform: translateX(581.5px);
    height: 100%;
    width: 4px;
    background: #000;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}*/